<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedChallenge?.imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedChallenge?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onAddToAddingList()">To Adding List</button>
    <button class="btn btn-primary" (click)="onEdit()">Edit</button>
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedChallenge?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of selectedChallenge?.ingredients">{{item.name}} {{item.amount}}</li>
    </ul>
  </div>
</div>
